/** @format */

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  margin: auto;
  width: 85%;
  max-width: 1280px;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}
h2 + p {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 300;
}

button {
  background-color: transparent;
}

/*header*/

.h_top {
  justify-content: space-between;
  padding: 20px 0;
}

.h_top li {
  padding-left: 20px;
}

.gnb {
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  height: 40px;
}
nav {
  width: 50%;
}
nav .mainmenu {
  justify-content: space-between;
  width: 100%;
}
nav li a {
  position: relative;
}

nav li:focus > a::after,
nav li:hover > a::after {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 70%;
  display: inline-block;
  content: "";
  width: 100%;
  height: 12px;
  background-color: rgba(20, 157, 221, 0.6);
  /* background-color: rgba(79, 129, 190,0.6); */
}
nav .mainmenu > li {
  position: relative;
  padding-right: 50px;
  width: 25%;
  line-height: 45px;
  letter-spacing: 4px;
}
nav .mainmenu > li > a {
  font-size: 1.8rem;
  font-weight: 500;
}
nav .mainmenu > li:last-child {
  width: 30%;
}
nav .submenu {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 55px;
  width: 100%;
  height: 190px;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.gnb button {
  display: none;
}

.gnb .find a img {
  width: 40px;
}

/*main*/
/*choice*/
.choice > div {
  padding: 10px 0 80px;
}

.choice h2 {
  padding: 30px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 30px;
  height: 100vh;
}

.grid-container {
  height: auto;
}

.grid-container .number1 {
  grid-row: 1 / span 2;
}

.grid-container .number7 {
  grid-column: 4/ 5;
  grid-row: 2 / span 2;
}

.grid-item {
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  transition: all 0.5s;
}

.front {
  z-index: 2;
  font-size: 1.8rem;
  background-color: rgb(243, 249, 255);
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: 100px;
}

.back {
  padding: 12%;
  background-color: rgb(243, 249, 255);
  transform: rotateY(180deg);
}

.grid-item:hover .front {
  transform: rotateY(180deg);
}

.grid-item:hover .back {
  transform: rotateY(0deg);
}
.item1,
.item2,
.item7,
.item10 {
  color: #fff;
  font-weight: 500;
}
.item1 {
  background-color: #4ca6d0;
  background-image: url(../images/choice/free-icon-clinic-history-2622355.png);
}

.item2 {
  background-color: #54b886;
  background-image: url(../images/choice/free-icon-pathways-9602176.png);
}

.item3 {
  background-image: url(../images/choice/free-icon-rorschach-test-7198686.png);
}

.item4 {
  background-image: url(../images/choice/free-icon-career-path-6770626.png);
}

.item5 {
  background-image: url(../images/choice/free-icon-sadness-9132319.png);
}

.item6 {
  background-image: url(../images/choice/free-icon-family-3885015.png);
}

.item7 {
  background-color: #008ba3;
  background-image: url(../images/choice/free-icon-game-controller-2331852.png);
}

.item8 {
  background-image: url(../images/choice/free-icon-interpersonal-6553989.png);
}

.item9 {
  background-image: url(../images/choice/free-icon-love-9037453.png);
}

.item10 {
  background-color: #6fb7ae;
  background-image: url(../images/choice//free-icon-pain-3431810.png);
}

/*best*/
.best {
  align-items: center;
  height: 600px;
  background-color: rgb(243, 249, 255);
}

.b_text {
  width: 30%;
  padding: 0 50px;
}

.b_text > a {
  display: block;
  width: 90px;
  height: 34px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  line-height: 34px;
  background-color: #5387db;
  border-radius: 5px;
}

.b_list {
  width: 70%;
}

.b_list li {
  position: relative;
  z-index: 1;
  width: 230px;
  height: 300px;
  padding: 30px;
  margin-right: 20px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 15px -13px #333;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 180%;
}
.best .b_list li::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(136, 136, 136, 0.5);
}
.b_list .b_list1 {
  background-image: url(../images/best/mika-baumeister-NSI6XtbabNw-unsplash.jpg);
}
.b_list .b_list2 {
  background-image: url(../images/best/amy-gatenby-Of96tWnjoOA-unsplash.jpg);
  background-size: 100%;
}
.b_list .b_list3 {
  background-image: url(../images/best/kiana-bosman-wSSTkMDMvZo-unsplash.jpg);
  background-size: 100%;
}
.b_list .b_list4 {
  background-image: url(../images/best/steve-johnson-wpw8sHoBtSY-unsplash.jpg);
}
.b_list .b_list5 {
  background-image: url(../images/best/smartphone-4540273_640.jpg);
  background-size: 105%;
}
.b_list .b_list6 {
  background-image: url(../images/best/outside-2713688_640.jpg);
}
.b_list .b_list7 {
  background-image: url(../images/best/happy-1281590_640.jpg);
}
.b_list li dt {
  padding: 30px 0 40px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
.b_list li dd {
  text-align: justify;
  line-height: 1.7;
}
.slick-arrow {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: #5387db;
  font-family: xeicon;
  font-size: 0;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 3px #999;
  cursor: pointer;
}

.slick-arrow:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.slick-prev {
  left: -20px;
}

.slick-prev:before {
  content: "\e93c";
}

.slick-next {
  right: 0px;
}

.slick-next:before {
  content: "\e93f";
}

/*news*/
.news {
  padding: 100px 0 150px;
  background-color: #fafafa;
  word-break: keep-all;
  line-height: 18px;
}

.news h2 {
  text-align: center;
  padding-bottom: 80px;
}

.news ul {
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.news li {
  width: 100%;
  height: 100%;
}

.news li a {
  display: block;
  width: 100%;
  height: 100%;
}

.news1 {
  width: 100%;
  height: 100%;
}

.news1 > div {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.news .news1_1 {
  background: url(../images/news/cell-phone-6855646_640.jpg) no-repeat;
  background-size: 100%;
}

.news .news1_2 {
  background: url(../images/news/kateryna-hliznitsova-Nqj2XWHy4K0-unsplash.jpg)
    no-repeat 50% 50%;
  background-size: 100%;
}

.news .news1_3 {
  background: url(../images/news/jon-tyson-YtYNavix3pw-unsplash.jpg) no-repeat
    30% 0%;
  background-size: 120%;
}

.news .news1_4 {
  background: url(../images/news/andre-hunter-vm2cwMEiUFA-unsplash.jpg)
    no-repeat 40% 20%;
  background-size: 120%;
}

.news .news1 p {
  padding: 30px 0 15px;
  font-size: 2rem;
  line-height: 1.3;
}

.news .news1 span {
  font-size: 1.6rem;
}

/*talk*/
.talk {
  padding: 150px 0;
  background-color: rgb(246, 247, 251);
}

.talk h2 + p {
  padding-bottom: 30px;
}

.talk ul {
  justify-content: space-between;
}

.talk li {
  position: relative;
  margin: 0 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 15px -10px #333;
}

.talk li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.talk li p:first-child {
  padding: 10px 0 15px;
  color: #035d5a;
  font-size: 2.4rem;
  font-weight: 600;
}
.talk li p:nth-child(2) {
  padding-bottom: 20px;
  text-align: right;
}
.talk li p:nth-child(3) {
  color: #999;
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.talk li p:nth-child(4) {
  margin: 20px 5px 10px;
  font-size: 2.5rem;
  letter-spacing: 10px;
}
.talk .slick-arrow {
  color: green;
}
.talk .slick-prev {
  left: -3%;
}
.talk .slick-next {
  right: -3%;
}

/*footer*/
footer {
  height: 140px;
  padding: 20px 0;
  color: #fff;
  background-color: rgb(88, 89, 101);
  line-height: 50px;
}

footer p img {
  padding-top: 18px;
}

.f_right {
  margin-left: 40px;
}

.f_right li {
  padding-right: 20px;
}
